<?xml version="1.0" encoding="utf-8" ?>
<Settings>
  <Setting Key="BackgroundColor" Value="#FFF9EAD6" />
  <Setting Key="BookWidth" Value="920" />
  <Setting Key="BookPageWidth" Value="395" />
  <Setting Key="BookPageHeight" Value="572" />
  <Setting Key="BookPageOffsetLeft" Value="66" />
  <Setting Key="BookPageOffsetTop" Value="0" />
  <Setting Key="VersionText" Value="Version: 0.99.090619" />
  <Setting Key="StoryID" Value="1" />
  <Setting Key="LogEnabled" Value="False" />
  <Setting Key="UseIndents" Value="True" />
  <Setting Key="UseNewLineAfterParagraph" Value="False" />
  <Setting Key="ScrollSpeed" Value="100" />
  <Setting Key="AutoOpenBookCover" Value="False" />
  <Setting Key="PageGripSize" Value="40" />
  <Setting Key="TOCs" Value="Introduction|Map|Hints|Help|Transcript|Credits|Quit|Settings" />
  <Setting Key="ResizingEnabled" Value="True" />
  <Setting Key="BookPageInnerContentWidth" Value="380" />
  <Setting Key="BookPageInnerContentHeight" Value="470" />
  <Setting Key="BookPageInnerContentOffsetLeft" Value="20" />
  <Setting Key="BookPageInnerContentOffsetTop" Value="0" />
  <Setting Key="PrologueNewLines" Value="0" />
  <Setting Key="PagingMechanism" Value="StaticPageCreateBackPages" />
  <Setting Key="WaitMessages" Value="Please wait.|Please wait..|Please wait..." />
  <Setting Key="CenterHeadline" Value="True" />
  <Setting Key="UseRealPageNumbers" Value="True" />
  <Setting Key="SaveGameDirectory" Value="SecretLetterSaveFiles" />
  <Setting Key="TextBetweenPrologueAndStory" Value="Chapter 1" />
  <Setting Key="QuitUrl" Value="http://www.textfyre.com" />


</Settings>