@model Zifmia.Model.ZifmiaChannel

<div style="left-margin: auto; right-margin: auto; display: block; text-align:center; font-family: Georgia; font-size:18px; font-weight:bold; height:22px; margin-top:4px;">@Model.Content</div>
