vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|20 Jul 2009 16:09:43 -0000
vti_extenderversion:SR|12.0.0.6211
vti_backlinkinfo:VX|games/default.html default.html
vti_author:SR|VistaLaptop\\David
vti_modifiedby:SR|VistaLaptop\\David
vti_timecreated:TR|23 Oct 2007 21:43:50 -0000
vti_syncofs_www.textfyre.com\:21:TW|20 Jul 2009 16:20:00 -0000
vti_syncwith_www.textfyre.com\:21:TX|20 Jul 2009 16:09:43 -0000
vti_nexttolasttimemodified:TW|20 Jul 2009 16:09:27 -0000
vti_cacheddtm:TX|20 Jul 2009 16:09:43 -0000
vti_filesize:IR|750
