vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|18 Jul 2009 20:54:46 -0000
vti_extenderversion:SR|12.0.0.6211
vti_backlinkinfo:VX|games/default.html default.html
vti_author:SR|VistaLaptop\\David
vti_modifiedby:SR|VistaLaptop\\David
vti_timecreated:TR|23 Oct 2007 21:27:14 -0000
vti_syncofs_www.textfyre.com\:21:TW|18 Jul 2009 20:59:00 -0000
vti_syncwith_www.textfyre.com\:21:TX|18 Jul 2009 20:54:46 -0000
vti_nexttolasttimemodified:TW|18 Jul 2009 20:54:41 -0000
vti_cacheddtm:TX|18 Jul 2009 20:54:46 -0000
vti_filesize:IR|4156
