<?xml version="1.0" encoding="utf-8" ?>
<Settings>
  <!--Setting Key="BookPageWidth" Value="350" />
  <Setting Key="BookPageHeight" Value="550" />
  <Setting Key="BookPageOffsetLeft" Value="55" />
  <Setting Key="BookPageOffsetTop" Value="22" /-->


  <Setting Key="BackgroundColor" Value="#FFFFFFFF" />
  <Setting Key="ResizingEnabled" Value="True" />
  <Setting Key="BookWidth" Value="1024" />
  <Setting Key="BookPageWidth" Value="481" />
  <Setting Key="BookPageHeight" Value="577" />
  <Setting Key="BookPageOffsetLeft" Value="31" />
  <Setting Key="BookPageOffsetTop" Value="11" />
  <Setting Key="BookPageInnerContentWidth" Value="440" />
  <Setting Key="BookPageInnerContentHeight" Value="470" />
  <Setting Key="BookPageInnerContentOffsetLeft" Value="20" />
  <Setting Key="BookPageInnerContentOffsetTop" Value="0" />
  <Setting Key="VersionText" Value="25-Mar-2009-r11" />
  <Setting Key="StoryID" Value="3" />
  <Setting Key="LogEnabled" Value="False" />
  <Setting Key="UseIndents" Value="True" />
  <Setting Key="UseNewLineAfterParagraph" Value="False" />
  <Setting Key="ScrollSpeed" Value="100" />
  <Setting Key="AutoOpenBookCover" Value="False" />
  <Setting Key="PageGripSize" Value="40" />
  <Setting Key="TOCs" Value="Introduction#Transcript" />
  <Setting Key="PrologueNewLines" Value="47" />
  <Setting Key="PagingMechanism" Value="StaticPageCreateBackPages" />
  <Setting Key="WaitMessages" Value="Please wait.|Please wait..|Please wait..." />
  <Setting Key="CenterHeadline" Value="True" />
  <Setting Key="UseRealPageNumbers" Value="False" />
  <Setting Key="SaveGameDirectory" Value="NightfallSaveFiles" />
</Settings>