body { margin: 0 0 0 0; padding: 0 0 0 0; }
h1 { font-family:"Times Roman", serif; font-size:30pt;}
p { text-indent: 1.5em; }

.subtitle { font-family:"Times Roman", serif; color:#888; font-size:18pt;}
.tooltip { -moz-box-shadow: 10px 10px 5px #ccc; -webkit-box-shadow: 10px 10px 5px #ccc; box-shadow: 10px 10px 5px #ccc;position: relative; left: -300px; top: 20px; width: 190px; white-space: normal; font-size: 10pt; background-color: #FFFFCC; padding: 5px; border-radius: 10px; }

div.topBar { background-color: #777; height: 28px; color: White; font-family: Arial,Helvetica,sans-serif; font-size: 11pt; }
div#loggedInPanel { display: none; }
div#loggedOutPanel { }
div#outerPanel { text-align: left; display: inline-block; width: 700px; }

input.loginInput { margin-top: 3px; height: 16px; font-family: Arial,Helvetica,sans-serif; font-size: 10pt; background-color: silver; }

span#promptTitle { font-family: Arial; font-size: 10pt; color: Gray; text-align: left; width: 700px; display: inline-block; padding-top: 5px; }
.gameTitle { -moz-box-shadow: 10px 10px 5px #ccc; -webkit-box-shadow: 10px 10px 5px #ccc; box-shadow:10px 10px 5px #58595B;}
div.gameButtons { margin-top: 10px; }

div#centerColumn { text-align: center; }
div#gameTitleLabel { margin-left:auto; text-align:center; font-size:16pt; font-weight: bold;}
div#prologuePanel { display:none; }
div#prologueHeader { font-size: 14pt; font-weight: bold; background-color: Silver; padding-left: 5px; text-align: left; }
div#prologueContent { font-family: Times Roman; font-size: 14pt; }
div#prologueButton { color: black; text-align: center; font-size: 14pt; width:100%; position:absolute; height:60px; background-color:#CCCCC2;left:0;bottom:0;padding-bottom:10px;padding-top: 25px;}
span#locationTitle { font-weight: bold; padding-right: 5px; text-align:center; }
div#mainHeader { font-size: 14pt; font-weight: bold; background-color: Silver; padding-left: 5px; text-align: left; }
div#mainContent { font-family: Times New Roman; font-size: 14pt; position: absolute; top: 70px; width: 700px; }

input#userCommand { height: 31px; width: 700px; font-size: 20pt; }
input.shortField { font-size: 20pt; padding: 3px 0 3px 0; }
input.longField { font-size: 20pt; padding: 3px 0 3px 0; width: 656px; }

div#footerWrap { width:100%; position:absolute; height:60px; background-color:#CCCCC2; display:block;left:0;bottom:0;padding-bottom:10px;}
div#footer { text-align:center; }

#ajaxLoading{ display:none; width:200px; text-align:left; position:absolute; top:50%; left:50%; margin-left:-100px;}

.center { text-align: center; }
.center table { margin-left: auto; margin-right: auto; text-align: left; }

a.homeLink { float: right; padding-right: 10px; margin-top: 3px; font-size: 12pt; color:black; }
a.homeLink:visited { float: right; padding-right: 10px; margin-top: 3px; font-size: 12pt; color:black; }
a.homeLink:hover { float: right; padding-right: 10px; margin-top: 3px; font-size: 12pt; color:black; }

.aboutLabel { font-weight: bold; }