<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<!--
    Opcodes.plist
    TextfyreVM-Foundation
    
    Copyright 2010 Textfyre, Inc. All rights reserved.
    Please read the accompanying COPYRIGHT file for licensing restrictions.
-->
<array>
	<array>
		<integer>0</integer>
		<string>nop</string>
		<integer>0</integer>
	</array>
	<!-- Arithmetic -->
	<array>
		<integer>0x10</integer>
		<string>add</string>
		<integer>2</integer>
		<integer>1</integer>
	</array>
	<array>
		<integer>0x11</integer>
		<string>sub</string>
		<integer>2</integer>
		<integer>1</integer>
	</array>
	<array>
		<integer>0x12</integer>
		<string>mul</string>
		<integer>2</integer>
		<integer>1</integer>
	</array>
	<array>
		<integer>0x13</integer>
		<string>div</string>
		<integer>2</integer>
		<integer>1</integer>
	</array>
	<array>
		<integer>0x14</integer>
		<string>mod</string>
		<integer>2</integer>
		<integer>1</integer>
	</array>
	<array>
		<integer>0x15</integer>
		<string>neg</string>
		<integer>1</integer>
		<integer>1</integer>
	</array>
	<array>
		<integer>0x18</integer>
		<string>bitand</string>
		<integer>2</integer>
		<integer>1</integer>
	</array>
	<array>
		<integer>0x19</integer>
		<string>bitor</string>
		<integer>2</integer>
		<integer>1</integer>
	</array>
	<array>
		<integer>0x1A</integer>
		<string>bitxor</string>
		<integer>2</integer>
		<integer>1</integer>
	</array>
	<array>
		<integer>0x1B</integer>
		<string>bitnot</string>
		<integer>1</integer>
		<integer>1</integer>
	</array>
	<array>
		<integer>0x1C</integer>
		<string>shiftl</string>
		<integer>2</integer>
		<integer>1</integer>
	</array>
	<array>
		<integer>0x1D</integer>
		<string>sshiftr</string>
		<integer>2</integer>
		<integer>1</integer>
	</array>
	<!-- Branching -->
	<array>
		<integer>0x1E</integer>
		<string>ushiftr</string>
		<integer>2</integer>
		<integer>1</integer>
	</array>
	<array>
		<integer>0x20</integer>
		<string>jump</string>
		<integer>1</integer>
	</array>
	<array>
		<integer>0x22</integer>
		<string>jz</string>
		<integer>2</integer>
	</array>
	<array>
		<integer>0x23</integer>
		<string>jnz</string>
		<integer>2</integer>
	</array>
	<array>
		<integer>0x24</integer>
		<string>jeq</string>
		<integer>3</integer>
	</array>
	<array>
		<integer>0x25</integer>
		<string>jne</string>
		<integer>3</integer>
	</array>
	<array>
		<integer>0x26</integer>
		<string>jlt</string>
		<integer>3</integer>
	</array>
	<array>
		<integer>0x27</integer>
		<string>jge</string>
		<integer>3</integer>
	</array>
	<array>
		<integer>0x28</integer>
		<string>jgt</string>
		<integer>3</integer>
	</array>
	<array>
		<integer>0x29</integer>
		<string>jle</string>
		<integer>3</integer>
	</array>
	<array>
		<integer>0x2A</integer>
		<string>jltu</string>
		<integer>3</integer>
	</array>
	<array>
		<integer>0x2B</integer>
		<string>jgeu</string>
		<integer>3</integer>
	</array>
	<array>
		<integer>0x2C</integer>
		<string>jgtu</string>
		<integer>3</integer>
	</array>
	<array>
		<integer>0x2D</integer>
		<string>jleu</string>
		<integer>3</integer>
	</array>
	<array>
		<integer>0x104</integer>
		<string>jumpabs</string>
		<integer>1</integer>
	</array>
	<!-- Functions -->
	<array>
		<integer>0x30</integer>
		<string>call</string>
		<integer>2</integer>
		<integer>0</integer>
		<string>delayedStore</string>
	</array>
	<array>
		<integer>0x160</integer>
		<string>callf</string>
		<integer>1</integer>
		<integer>0</integer>
		<string>delayedStore</string>
	</array>
	<array>
		<integer>0x161</integer>
		<string>callfi</string>
		<integer>2</integer>
		<integer>0</integer>
		<string>delayedStore</string>
	</array>
	<array>
		<integer>0x162</integer>
		<string>callfii</string>
		<integer>3</integer>
		<integer>0</integer>
		<string>delayedStore</string>
	</array>
	<array>
		<integer>0x163</integer>
		<string>callfiii</string>
		<integer>4</integer>
		<integer>0</integer>
		<string>delayedStore</string>
	</array>
	<array>
		<integer>0x31</integer>
		<string>return</string>
		<integer>1</integer>
	</array>
	<array>
		<integer>0x32</integer>
		<string>catch</string>
		<integer>0</integer>
		<integer>0</integer>
		<string>catch</string>
	</array>
	<array>
		<integer>0x33</integer>
		<string>throw</string>
		<integer>2</integer>
	</array>
	<array>
		<integer>0x34</integer>
		<string>tailcall</string>
		<integer>2</integer>
	</array>
	<!-- Variables and Arrays -->
	<array>
		<integer>0x40</integer>
		<string>copy</string>
		<integer>1</integer>
		<integer>1</integer>
	</array>
	<array>
		<integer>0x41</integer>
		<string>copys</string>
		<integer>1</integer>
		<integer>1</integer>
		<string>indirect16Bit</string>
	</array>
	<array>
		<integer>0x42</integer>
		<string>copyb</string>
		<integer>1</integer>
		<integer>1</integer>
		<string>indirect8Bit</string>
	</array>
	<array>
		<integer>0x44</integer>
		<string>sexs</string>
		<integer>1</integer>
		<integer>1</integer>
	</array>
	<array>
		<integer>0x45</integer>
		<string>sexb</string>
		<integer>1</integer>
		<integer>1</integer>
	</array>
	<array>
		<integer>0x48</integer>
		<string>aload</string>
		<integer>2</integer>
		<integer>1</integer>
	</array>
	<array>
		<integer>0x49</integer>
		<string>aloads</string>
		<integer>2</integer>
		<integer>1</integer>
	</array>
	<array>
		<integer>0x4A</integer>
		<string>aloadb</string>
		<integer>2</integer>
		<integer>1</integer>
	</array>
	<array>
		<integer>0x4B</integer>
		<string>aloadbit</string>
		<integer>2</integer>
		<integer>1</integer>
	</array>
	<array>
		<integer>0x4C</integer>
		<string>astore</string>
		<integer>3</integer>
	</array>
	<array>
		<integer>0x4D</integer>
		<string>astores</string>
		<integer>3</integer>
	</array>
	<array>
		<integer>0x4E</integer>
		<string>astoreb</string>
		<integer>3</integer>
	</array>
	<array>
		<integer>0x4F</integer>
		<string>astorebit</string>
		<integer>3</integer>
	</array>
	<!-- Output -->
	<array>
		<integer>0x70</integer>
		<string>streamchar</string>
		<integer>1</integer>
	</array>
	<array>
		<integer>0x73</integer>
		<string>streamunichar</string>
		<integer>1</integer>
	</array>
	<array>
		<integer>0x71</integer>
		<string>streamnum</string>
		<integer>1</integer>
	</array>
	<array>
		<integer>0x72</integer>
		<string>streamstr</string>
		<integer>1</integer>
	</array>
	<array>
		<integer>0x130</integer>
		<string>glk</string>
		<integer>2</integer>
		<integer>1</integer>
	</array>
	<array>
		<integer>0x140</integer>
		<string>getstringtbl</string>
		<integer>0</integer>
		<integer>1</integer>
	</array>
	<array>
		<integer>0x141</integer>
		<string>setstringtbl</string>
		<integer>1</integer>
	</array>
	<array>
		<integer>0x148</integer>
		<string>getiosys</string>
		<integer>0</integer>
		<integer>2</integer>
	</array>
	<array>
		<integer>0x149</integer>
		<string>setiosys</string>
		<integer>2</integer>
		<integer>0</integer>
	</array>
	<!-- Memory Management -->
	<array>
		<integer>0x102</integer>
		<string>getmemsize</string>
		<integer>0</integer>
		<integer>1</integer>
	</array>
	<array>
		<integer>0x103</integer>
		<string>setmemsize</string>
		<integer>1</integer>
		<integer>1</integer>
	</array>
	<array>
		<integer>0x170</integer>
		<string>mzero</string>
		<integer>2</integer>
	</array>
	<array>
		<integer>0x171</integer>
		<string>mcopy</string>
		<integer>3</integer>
	</array>
	<array>
		<integer>0x17B</integer>
		<string>malloc</string>
		<integer>1</integer>
		<integer>1</integer>
	</array>
	<array>
		<integer>0x179</integer>
		<string>mfree</string>
		<integer>1</integer>
	</array>
	<!-- Searching -->
	<array>
		<integer>0x150</integer>
		<string>linearsearch</string>
		<integer>7</integer>
		<integer>1</integer>
	</array>
	<array>
		<integer>0x151</integer>
		<string>binarysearch</string>
		<integer>7</integer>
		<integer>1</integer>
	</array>
	<array>
		<integer>0x152</integer>
		<string>linkedsearch</string>
		<integer>6</integer>
		<integer>1</integer>
	</array>
	<!-- Stack Manipulation -->
	<array>
		<integer>0x50</integer>
		<string>stkcount</string>
		<integer>0</integer>
		<integer>1</integer>
	</array>
	<array>
		<integer>0x51</integer>
		<string>stkpeek</string>
		<integer>1</integer>
		<integer>1</integer>
	</array>
	<array>
		<integer>0x52</integer>
		<string>stkswap</string>
		<integer>0</integer>
	</array>
	<array>
		<integer>0x53</integer>
		<string>stkroll</string>
		<integer>2</integer>
	</array>
	<array>
		<integer>0x54</integer>
		<string>stkcopy</string>
		<integer>1</integer>
	</array>
	<array>
		<integer>0x100</integer>
		<string>gestalt</string>
		<integer>2</integer>
		<integer>1</integer>
	</array>
	<array>
		<integer>0x101</integer>
		<string>debugtrap</string>
		<integer>1</integer>
	</array>
	<!-- Game State -->
	<array>
		<integer>0x120</integer>
		<string>quit</string>
		<integer>0</integer>
	</array>
	<array>
		<integer>0x121</integer>
		<string>verify</string>
		<integer>0</integer>
		<integer>1</integer>
	</array>
	<array>
		<integer>0x122</integer>
		<string>restart</string>
		<integer>0</integer>
	</array>
	<array>
		<integer>0x123</integer>
		<string>save</string>
		<integer>1</integer>
		<integer>0</integer>
		<string>delayedStore</string>
	</array>
	<array>
		<integer>0x124</integer>
		<string>restore</string>
		<integer>1</integer>
		<integer>0</integer>
		<string>delayedStore</string>
	</array>
	<array>
		<integer>0x125</integer>
		<string>saveundo</string>
		<integer>0</integer>
		<integer>0</integer>
		<string>delayedStore</string>
	</array>
	<array>
		<integer>0x126</integer>
		<string>restoreundo</string>
		<integer>0</integer>
		<integer>0</integer>
		<string>delayedStore</string>
	</array>
	<array>
		<integer>0x127</integer>
		<string>protect</string>
		<integer>2</integer>
	</array>
	<!-- Random Number Generator -->
	<array>
		<integer>0x110</integer>
		<string>random</string>
		<integer>1</integer>
		<integer>1</integer>
	</array>
	<array>
		<integer>0x111</integer>
		<string>setrandom</string>
		<integer>1</integer>
	</array>
	<!-- FyreVM Specific -->
	<array>
		<integer>0x1000</integer>
		<string>fyrecall</string>
		<integer>3</integer>
		<integer>1</integer>
	</array>
</array>
</plist>
