<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FyreWinClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FyreWinClient.Properties.Settings>
            <setting name="GameFont" serializeAs="String">
                <value>Arial, 12pt</value>
            </setting>
            <setting name="HeaderFooterFont" serializeAs="String">
                <value>Goudy Mediaeval, 11.999999pt</value>
            </setting>
            <setting name="MainBackColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="MainForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="HeaderBackColor" serializeAs="String">
                <value />
            </setting>
            <setting name="HeaderForeColor" serializeAs="String">
                <value />
            </setting>
        </FyreWinClient.Properties.Settings>
    </userSettings>
</configuration>