<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="RouteDebugger:Enabled" value="false" />
    <add key="oodb_connection" value="server=localhost;password=pwd;options=none;"/>
    <add key="oodb_name" value="ZifmiaTextfyreDB"/>
    <add key="oodb_unittest_name" value="ZifmiaTextfyreUTDB"/>
    <add key="maxDiskUsage" value="102400000"/>
    <add key="trace" value="false"/>
    <add key="networkAvailable" value="true"/>
    <add key="unitTesting" value="true"/>
  </appSettings>
</configuration>