<div id="registerPanel" style="display: none;">
    <div style="height: 50px; text-align: center;">
        <div style="text-align: left; display: inline-block;">
            <h1>
                Get your own Textfyre Games account in seconds</h1>
            <span class="subtitle">Fill in this one-step form and you'll be playing IF in no time!</span>
            <table style="padding: 20px 0 0 0;">
                <tr>
                    <td style="background-color: #ccffff; height: 130px; padding: 0 20px 0 20px; text-align: left;
                        font-family: Arial;">
                        <span>Username</span><br />
                        <input type="text" id="username" maxlength="20" class="shortField validate" />
                    </td>
                    <td style="background-color: #ccffff; height: 130px; padding: 0 20px 0 20px; text-align: left;
                        font-family: Arial;">
                        <span>Nickname</span><br />
                        <input type="text" id="nickname" maxlength="20" class="shortField validate" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="background-color: #ccffff; height: 130px; padding: 0 20px 0 20px;
                        text-align: left; font-family: Arial;">
                        <span>Email Address <span style="font-size: 8pt;">(a valid email address is required)</span></span><br />
                        <input type="text" id="emailAddress" maxlength="100" class="longField validate" />
                    </td>
                </tr>
                <tr>
                    <td style="background-color: #ccffff; height: 130px; padding: 0 20px 0 20px; text-align: left;
                        font-family: Arial;">
                        <span>Password</span><br />
                        <input type="password" id="password" maxlength="20" class="shortField validate" />
                    </td>
                    <td style="background-color: #ccffff; height: 130px; padding: 0 20px 0 20px; text-align: left;
                        font-family: Arial;">
                        <span>Confirm</span><br />
                        <input type="password" id="confirm" maxlength="20" class="shortField validate" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: right;">
                        <button id="registerButton" type="button" style="width: 100px; height: 50px; font-family: Arial;
                            font-size: 14pt;" disabled="disabled">
                            Register</button>
                        <button id="cancelButton" type="button" style="width: 100px; height: 50px; font-family: Arial;
                            font-size: 14pt;">
                            Cancel</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div id="regErrorPanel" style="text-align: center;">
                            <span id="regErrorMessage" style="font-family: Times New Roman; font-size: 18pt;
                                color: Red;"></span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
