<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Textfyre.Common.Codegen.Windows.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<remove name="LocalSqlServer"/>
		<add name="TextfyreWeb" connectionString="data source=VistaLaptop;Initial Catalog=TextfyreWeb;Integrated Security=SSPI;"/>
	</connectionStrings>
	<userSettings>
		<Textfyre.Common.Codegen.Windows.Properties.Settings>
			<setting name="MainPath" serializeAs="String">
				<value />
			</setting>
			<setting name="GenPath" serializeAs="String">
				<value />
			</setting>
			<setting name="DetailsPath" serializeAs="String">
				<value />
			</setting>
			<setting name="Database" serializeAs="String">
				<value />
			</setting>
			<setting name="SelectedTables" serializeAs="String">
				<value />
			</setting>
			<setting name="RootNamespace" serializeAs="String">
				<value />
			</setting>
			<setting name="Overwrite" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="FromStoredProcedures" serializeAs="String">
				<value>False</value>
			</setting>
		</Textfyre.Common.Codegen.Windows.Properties.Settings>
	</userSettings>
</configuration>